<body>

    {% include preloader.html %}


    {% include header-top-section.html %}

    {% include header-section.html %}

    {% include search-section.html %}

    {% include slider-section.html %}

    {% include service-section.html %}

    {% include new-section.html %}

    {% include featured-section.html %}

    {% include offer-section.html %}

    {% include best-seller-section.html %}

    {% include review-section.html%}

    {% include news-letter-section.html %}

    {% include client-section.html %}

    {% include news-section.html %}

    {% include contact-section.html %}

    <!-- JQUERY -->
    <script src="js/vendor/jquery-1.11.2.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/custom.js"></script>
    </body>