<section class="client-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="titie-section wow fadeInDown animated ">
                        <h1>PARTENERII NOSTRI</h1>
                    </div>
                </div>
            </div>
            <div id="client" class="row owl-carousel owl-theme client-area">
                <div class="col-md-12 item">
                    <a href="#">
                        <img src="images/client_01.jpg" class="img-responsive" width="300" height="200" alt="">
                    </a>
                </div>
                <div class="col-md-12 item">
                    <a href="#">
                        <img src="images/client_02.png" class="img-responsive" width="300" height="200" alt="">
                    </a>
                </div>
                <div class="col-md-12 item">
                    <a href="#">
                        <img src="images/client_03.png" class="img-responsive" width="300" height="200" alt="">
                    </a>
                </div>
                <div class="col-md-12 item">
                    <a href="#">
                        <img src="images/client_04.png" class="img-responsive" width="300" height="200" alt="">
                    </a>
                </div>
            </div>
            <div class="customNavigation works-navigation">
                <a class="btn-work works-prev"><i class="pe-7s-angle-left"></i></a>
                <a class="btn-work works-next"><i class="pe-7s-angle-right"></i></a>
            </div><!-- end of /.client navigation -->
        </div>
    </section>