<section class="featured-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titie-section wow fadeInDown animated ">
                        <h1>PRODUSE POPULARE</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-menu">
                        <ul class="button-group sort-button-group">
                            <li class="button active" data-category="all">Toate<span>8</span></li>
                            <li class="button" data-category="cat-1">Rochii<span>2</span></li>
                            <li class="button" data-category="cat-2">Accessorii<span>2</span></li>
                            <li class="button" data-category="cat-3">Altele<span>4</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured isotope">
                <div class="col-md-3 col-sm-6 col-xs-12 cat-3 featured-items isotope-item">
                    <div class="product-item">
                        <img src="images/product1.png" class="img-responsive" width="255" height="322" alt="">
                        
                        <div class="product-hover">
                            <div class="product-meta">
                                <a href="#"><i class="pe-7s-like"></i></a>
                               <a href="#"><i class="pe-7s-cart"></i>Adauga in cos</a>
                            </div>
                        </div>
                        <div class="product-title">
                            <a href="#">
                                <h3>Articol</h3>
                                <span>226 RON</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 cat-2 featured-items isotope-item">
                    <div class="product-item">
                        <img src="images/product2.png" class="img-responsive" width="255" height="322" alt="">
                        <div class="product-hover">
                            <div class="product-meta">
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-cart"></i>Adauga in cos</a>
                            </div>
                        </div>
                        <div class="product-title">
                            <a href="#">
                                <h3>Articol</h3>
                                <span>112 RON</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 cat-1 featured-items isotope-item">
                    <div class="product-item">
                        <img src="images/product3.png" class="img-responsive" width="255" height="322" alt="">
                        
                        <div class="product-hover">
                            <div class="product-meta">
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-cart"></i>Adauga in cos</a>
                            </div>
                        </div>
                        <div class="product-title">
                            <a href="#">
                                <h3>Articol</h3>
                                <span>111 RON</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 cat-3 featured-items isotope-item">
                    <div class="product-item">
                        <img src="images/product4.png" class="img-responsive" width="255" height="322" alt="">
                        
                        <div class="product-hover">
                            
                        </div>
                        <div class="product-title">
                            <a href="#">
                                <h3>Articol</h3>
                                <span>156 RON</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 cat-2 featured-items isotope-item">
                    <div class="product-item">
                        <img src="images/product5.png" class="img-responsive" width="255" height="322" alt="">
                        <div class="product-hover">
                            <div class="product-meta">
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-cart"></i>Adauga in cos</a>
                            </div>
                        </div>
                        <div class="product-title">
                            <a href="#">
                                <h3>Articol</h3>
                                <span>126 RON</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 cat-3 featured-items isotope-item">
                    <div class="product-item">
                        <img src="images/product6.png" class="img-responsive" width="255" height="322" alt="">
                        
                        <div class="product-hover">
                            <div class="product-meta">
                                <a href="#"><i class="pe-7s-like"></i></a>
                                
                                <a href="#"><i class="pe-7s-cart"></i>Adauga in cos</a>
                            </div>
                        </div>
                        <div class="product-title">
                            <a href="#">
                                <h3>Articol</h3>
                                <span>119 RON</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 cat-1 featured-items isotope-item">
                    <div class="product-item">
                        <img src="images/product7.png" class="img-responsive" width="255" height="322" alt="">
                        <div class="product-hover">
                            <div class="product-meta">
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-cart"></i>Adauga in cos</a>
                            </div>
                        </div>
                        <div class="product-title">
                            <a href="#">
                                <h3>Articol</h3>
                                <span>112 RON</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 cat-3 featured-items isotope-item">
                    <div class="product-item">
                        <img src="images/product8.png" class="img-responsive" width="255" height="322" alt="">
                        <div class="product-hover">
                            <div class="product-meta">
                                <a href="#"><i class="pe-7s-like"></i></a>
                               <a href="#"><i class="pe-7s-cart"></i>Adauga in cos</a>
                            </div>
                        </div>
                        <div class="product-title">
                            <a href="#">
                                <h3>Articol</h3>
                                <span>99 RON</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>