<section class="header-top-section">
        <div class="container">
            <div class="row">
                <div  class="col-md-6">
                    <div class="header-top-content">
                        <ul class="nav nav-pills navbar-left">
                            <li><a href="#"><i class="pe-7s-call"></i><span>{{ site.data.header-top-section.telefon}}</span></a></li>
                            <li><a href="#"><i class="pe-7s-mail"></i><span> {{ site.data.header-top-section.mail}}</span></a></li>
                        </ul>
                    </div>
                </div>
                <div  class="col-md-6">
                    <div class="header-top-menu">
                        <ul class="nav nav-pills navbar-right">
                            <li><a href="#">Contul Meu</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Cos de Cumparaturi</a></li>
                            <li><a href="#">Plata</a></li>
                            <li><a href="#"><i class="pe-7s-lock"></i>Login/Inregistrare</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>