<section class="new-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titie-section wow fadeInDown animated ">
                        <h1>NOUA COLECTIE</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 wow fadeInLeft animated" data-wow-delay="0.2s">
                    <div class="product-item">
                        <img src="images/11.jpg" class="img-responsive" width="255" height="322" alt="">
                        <div class="product-hover">
                            <div class="product-meta">
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-cart"></i>Adauga in cos</a>
                            </div>
                        </div>
                        <div class="product-title">
                            <a href="#">
                                <h3>Articol 1</h3>
                                <span>98 RON</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInLeft animated" data-wow-delay="0.4s">
                    <div class="product-item">
                        <img src="images/21.jpg" class="img-responsive" width="255" height="322" alt="">
                        <div class="product-hover">
                            <div class="product-meta">
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-cart"></i>Adauga in cos</a>
                            </div>
                        </div>
                        <div class="product-title">
                            <a href="#">
                                <h3>Articol 2</h3>
                                <span>66 RON</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInLeft animated" data-wow-delay="0.6s">
                    <div class="product-item">
                        <img src="images/31.jpg" class="img-responsive" width="255" height="322" alt="">
                        <div class="product-hover">
                            <div class="product-meta">
                                <a href="#"><i class="pe-7s-like"></i></a>
                                <a href="#"><i class="pe-7s-cart"></i>Adauga in cos</a>
                            </div>
                        </div>
                        <div class="product-title">
                            <a href="#">
                                <h3>Articol 3</h3>
                                <span>221 RON</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInLeft animated" data-wow-delay="0.8s">
                    <div class="product-item">
                        <img src="images/11.jpg" class="img-responsive" width="255" height="322" alt="">
                        <div class="product-hover">
                            <div class="product-meta">
                                <a href="#"><i class="pe-7s-like"></i></a>
                               <a href="#"><i class="pe-7s-cart"></i>Adauga in cos</a>
                            </div>
                        </div>
                        <div class="product-title">
                            <a href="#">
                                <h3>Articol 4</h3>
                                <span>99 RON</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>